<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<package xmlns="http://www.idpf.org/2007/opf" unique-identifier="book-id" version="2.0">
    <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
        {% set metadata = book.getMetadata %}
        <dc:title>{{ metadata.title }}</dc:title>
        <dc:creator>{{ metadata.creator }}</dc:creator>
        <dc:publisher>{{ metadata.publisher }}</dc:publisher>
        <dc:date>{{ metadata.date }}</dc:date>
        <dc:language>{{ metadata.language }}</dc:language>
        <dc:identifier id="book-id">dsds</dc:identifier>
        <meta content="front-cover" name="cover"/>
        <!-- <meta content="back-cover" name="cover"/> -->
    </metadata>
    <manifest>
        <item href="toc.ncx" id="ncx" media-type="application/x-dtbncx+xml"/>
        <item href="Styles/styles.css" id="css" media-type="text/css"/>

    {% for page in book.pages %}
        {# image gives us image object, etc #}
        {% set image = page.image %}

        <item href="Pages/{{ page.id }}.xhtml" id="{{ page.id }}" media-type="application/xhtml+xml"/>
        <item href="Images/{{ image.name }}" id="{{ page.id }}-image" media-type="{{ image.mime }}"/>

    {% endfor %}

    {% if book.front_cover is not null %}

        <item href="Images/{{ book.front_cover.name }}" id="front-cover" media-type="{{ book.front_cover.mime }}"/>

    {% endif %}
    {% if book.back_cover is not null %}

        <item href="Images/{{ book.back_cover.name }}" id="back-cover" media-type="{{ book.back_cover.mime }}"/>
    {% endif %}

    </manifest>
    <spine toc="ncx">
    {% for page in book.pages %}
        <itemref idref="{{ page.id }}"/>
    {% endfor %}
    </spine>
    <guide>

    {% for page in book.pages %}

        <reference href="Pages/{{ page.id }}.xhtml" type="text"/>

    {% endfor %}

    {% if book.front_cover is not null %}

        <reference href="Images/{{ book.front_cover.name}}" type="cover" />

    {% endif %}

    </guide>
</package>
